.switch {
  
  position: relative;
  display: inline-block;
  width: 34px;
  height: 18px;
}

.toggle { opacity: 0; width: 0; height: 0; }

.slider {

  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: var(--border);
  transition: .3s;
  border-radius: 20px;
}

.slider:before {
  
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 3px;
  background-color: var(--text);
  transition: .3s;
  border-radius: 50%;
}

.toggle:checked + .slider { background-color: var(--secondary); }
.toggle:checked + .slider:before {
  transform: translateX(16px);
  background-color: var(--bg);
}
